<div class="parallax">
<br>
<br>
<br>

	<div class="center jumbotron">
	  <h1>Welcome to the Karol's Choice</h1>
	  <h2>
	    Test Home Page
	  </h2>
	  <% if current_user %>
	  <% else %>
	  <%= link_to "Sign up now!", new_user_path, class: "btn btn-lg btn-primary" %>
	  <% end %>
	</div>

<br>
<br>
<br>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>