<% provide(:title, @meal.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @meal.name %>
        <br>
        <%= @meal.description %>
        <br>
        <%= @meal.venue_id %>
      
      </h1>
    </section>
  </aside>
</div>

<%= link_to "Update meal", edit_meal_path, class: 'btn btn-primary'%>