<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "About",   landing_about_path %></li>
      <li><%= link_to "Contact", landing_contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>